
htm/oembed.json
# htm/opensearch*.xml
*.jsdoced.js

docs/
out/
src/version.js
build/*.js.map

*.min.js
beep.js
*copy*
*BAK*

# *test.js
build/*.js
!build/simple-speak.js
*.html
*.png
!embed/index.html
!htm/index.html
!test/index.html
!get-voices.html
!style/icon-64.png
*.log
*.diff
node_modules
composer.*
vendor
