/*!
  Test-page styles | © Nick Freear, 30-May-2017.
*/

body {
  background: #fefefe;
  color: #222;
  font: 1.02em sans-serif;
  margin: 1em auto;
  max-width: 36em;
}
.get-voices-page body {
  margin: .3em 3em;
  max-width: none;
}

h1, h2 {
  font-weight: normal;
}

input {
  padding: 3px;
  text-align: center;
}

pre {
  border-top: 1px solid #bbb;
  margin: 3em 0 1em;
  padding-top: .5em;
}

/* body #XX--no-compat-simple-speak-msg {
  color: darkorange;
  font-weight: bold;
}*/
